html, body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

section.section--center {
    max-width: 860px;
}

.mdl-card {
    width: 860px;
}

.demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
    background: url('../img/welcome_card.jpg') center / cover;
}

form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-diretion: row;
    margin-bottom: 16px;
}

form .mdl-textfield {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-right: 16px;
    color: rgb(97, 97, 97);
}

form button {
    margin-top: 15px;
    background-color: rgba(0, 0, 0, 0.24);
    color: white;
}

textarea#result,
textarea#result:hover,
textarea#result:active,
textarea#result:focus {
    width: 100%;
    height: 35px;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: bolder;
    background: inherit;
    resize: none;
    border: none;
    outline: none;
}